.Section7-footer{
    background-color: #F7F3FF;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding: 53px 119.351px 30px 119px;
    
}
.footer-footsy{
    display: flex;
align-items: flex-start;
gap: 105px;
}
.footer-image, h3.logo-title{
    display: flex;
    margin-top: 25px;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center ;
    margin-left: 30px;
    text-align: center;
}
.footer-text{
    display: flex;
    gap: 105px;
}
@media only screen and (max-width: 600px){
    
}