.body{
    text-align: center;
    margin-top: 40px;
}
p.p {
    font-size: 10px;
}
h4.h4{
    font-size: larger;
    font-weight: bolder;
}
.container{
    justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
img.img{
    width: 50px;
    margin-top: 40px;
}